ul,
li {
  list-style: inside;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 1rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 1rem;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
